<h3 class="text-center">Airline Creation</h3>
<hr>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
        Airline Added successfully
      </div>
      <form class="was-validated" #airlineForm="ngForm" (ngSubmit)="onSubmit(airlineForm)" >
        <div class="mb-3" hidden>
          <label for="airline_id" class="form-label">Airline ID</label>
          <input type="number" class="form-control" id="airline_id" placeholder="Enter Airline ID"
            [(ngModel)]="es.selectedAirline.airlineId" name="airline_id">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="es.selectedAirline.name"
            name="name" required minlength="3" maxlength="50">
          <div *ngIf="airlineForm.controls['name'].invalid && (airlineForm.controls['name'].dirty || airlineForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="airlineForm.controls['name'].errors?.['required']">Name is required.</div>
            <div *ngIf="airlineForm.controls['name'].errors?.['minlength']">Name must be at least 3 characters long.</div>
            <div *ngIf="airlineForm.controls['name'].errors?.['maxlength']">Name cannot exceed 50 characters.</div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning">Reset</button>
      </form>
    </div>
  </div>
</div>
<hr>
<h2 class="text-center">Airline Details</h2>
<hr>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table mt-4">
        <thead>
          <tr>
            <!-- <th>Airline ID</th> -->
            <th>Name</th>
            <th scope="colgroup">Action Buttons</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let airline of es.airlines">
            <!-- <td>{{ airline.airlineId }}</td> -->
            <td>{{ airline.name }}</td>
            <td ><input type="button" value="✏️" class="btn btn-outline-primary btn-sm" (click)="updateAirline(airline)"></td>
            <td><input type="button" value="❌" class="btn btn-outline-danger btn-sm" (click)="deleteAirlineById(airline.airlineId)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
