<h3 class = 'text-center'>Aircraft Creation</h3>
<hr>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form #aircraftForm="ngForm" (ngSubmit)="onSubmit(aircraftForm)" >
          <div class="mb-3">
            <label for="aircraft_id" class="form-label">Aircraft ID</label>
            <input type="number" class="form-control" id="aircraft_id" placeholder="Enter Aircraft ID" [(ngModel)]="es.selectedAircraft.aircraft_id" name="aircraft_id">
          </div>
          <div class="mb-3">
            <label for="make" class="form-label">Make</label>
            <input type="text" class="form-control" id="make" placeholder="Enter Make" [(ngModel)]="es.selectedAircraft.make" name="make">
          </div>
          <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model" placeholder="Enter Model" [(ngModel)]="es.selectedAircraft.model" name="model">
          </div>
          <div class="mb-3">
            <label for="capacity" class="form-label">Capacity</label>
            <input type="number" class="form-control" id="capacity" placeholder="Enter capacity" [(ngModel)]="es.selectedAircraft.capacity" name="capacity">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-warning">Reset</button>
        </form>
      </div>
    </div>
  </div>
  

<hr>
<h2 class = 'text-center'>Aircraft Details</h2>
<hr>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table mt-4">
          <thead>
            <tr>
              <th>Aircraft ID</th>
              <th>MAKE</th>
              <th>MODEL</th>
              <th>CAPACITY</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aircraft of es.aircrafts">
              <td>{{ aircraft.aircraft_id }}</td>
              <td>{{ aircraft.make }}</td>
              <td>{{ aircraft.model }}</td>
              <td>{{ aircraft.capacity }}</td>
              <td><button class="btn btn-primary" (click)="updateAircraft(aircraft)">EDIT</button></td>
              <td><button class="btn btn-danger" (click)="deleteAircraftById(aircraft.aircraft_id)">DELETE</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  