
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a routerLink="/airport" class="nav-link active" >Airport</a>
    </li>
    <li class="nav-item" >
      <a routerLink="/aircraft" class="nav-link">Aircraft</a>
    </li>
    <li class="nav-item">
      <a routerLink="/airline" class="nav-link">Airline</a>
    </li>
    <li class="nav-item">
      <a routerLink="/flight" class="nav-link">Flight</a>
    </li>
    <li class="nav-item">
      <a routerLink="/trip" class="nav-link">Trip</a>
    </li>
  
</ul>

