

<div class="container" *ngIf="showTripCards" id="trip-list">
  <div class="container">
    <h4 style="color: aliceblue;">Search For flights here ➡️</h4>
  </div>
  
  <div class="container mt-3">
    <form>
      <div class="row">
        <div class="col">
          <label for="from" class="sr-only">From</label>
          <input type="text" class="form-control" id="from" placeholder="FROM: Mumbai (BOM)" aria-label="From">
        </div>
        <div class="col">
          <label for="to" class="sr-only">To</label>
          <input type="text" class="form-control" id="to" placeholder="TO: Pune (PNQ)" aria-label="To">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="date" class="sr-only">Date</label>
          <input type="date" class="form-control" id="date" aria-label="Date">
        </div>
        <div class="col">
          <label for="passengers" class="sr-only">No of Passengers</label>
          <input type="number" class="form-control" id="passengers" placeholder="Number of passengers" aria-label="No of Passengers">
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Search Flights</button>
    </form>
  
    
  </div>
   <div class="card w-100" *ngFor="let trip of tripList">
       <div class="card-body">
           <h5 class="card-title">{{ trip.name }}</h5>
           <p class="card-text">{{ trip.details }}</p>
           <button (click)="showPassengerForm()" class="btn btn-primary">Proceed</button>
       </div>
   </div>
</div>

<div class="container" *ngIf="showPassengerFormPage" id="trip-list">
   <app-passenger-form></app-passenger-form>
</div>
